
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>image recognition</title>
</head>
<body>
    <strong>
        <p style="font-size:25px">This is a demo of image recognition task using Django and tfserving.</p>
    </strong>
        <p style="font-size:15px">Type your image URL in the input box below,and cilck the predict button,it will gives a prediction result.</p>
    <form action="/search" method="get">
        <input type="text" name="info" placeholder="Type image url here" size="80" >
        <input type="submit" value="predict">
    </form>
</body>
</html>

